/* CSS Document */
* {
  box-sizing: border-box;
}

:root {
	--primary-color: #3185fc;
	--secondary-color: #f9dc5c;
	--font-color: #fff;
	--bg-color: #403f4c;
	--heading-color: #e84855;
	--sub-bg-color:#4e4d5c;
	--side-bg-color: #54536d;
    }

h1 {
    /*android green*/
    color: var(--primary-color);
    font-weight: lighter;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    letter-spacing: .2rem;
    text-align: center;
	font-size: 50px;
}

h2{
	color: var(--heading-color);
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    letter-spacing: .2rem;
}
h3 {
	color: var(--secondary-color);
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    letter-spacing: .2rem;
    text-align: center;
}
h4 {
	color: #d16666;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    letter-spacing: .2rem;
    text-align: center;
}
h5{
	color: #7A9AB1;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    letter-spacing: .2rem;
}
p {
	color: inherit;
	padding: 20px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: normal;
	letter-spacing:.1rem;
}
body {
    background: var(--bg-color);	
}.major {
}
iframe {
	display:block;
	margin-left: auto;
	margin-right: auto;
}
li {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.headerContent {
	display: inline-block;
	padding: 1rem 1rem;
}
.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.left {
  	width: 25%;
	
	
}

.right {
  width: 75%;
}
.row:after {
	content: "";
	display: table;
	clear: both;

}

.project {
	margin: auto;
	background: var(--sub-bg-color);
	padding: 10px;
	color: var(--font-color);	
}

.sideContent {
	background: var(--side-bg-color);
	color: var(--font-color);
	padding-bottom: 10px;
}
