/* CSS Document */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #F7E1D7;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	width: 100%;
}

#header li {
  float: left;
}

#projects li {
	float: left;
	width: 100%;
	margin-bottom: 20px;
	margin-top: 0px;
}

li a {
    display: block;
    color: #5E503F;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Helvetica;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
	color: #EAE0D5;
	background-color: #4A5759;
}

