<ul class="project-list">
	<li class="project">
		<a href="https://github.com/CammyCow/PlannerPDFGenerator"> <!-- Replace with the actual project link -->
			<h2>Planner Generator</h2>
			<p>Automatic yearky planner pdf generator using Python and Report Lab</p>
		</a>
	</li>
	<li class="project">
		<a href="projects/ChatApp.html"> <!-- Replace with the actual project link -->
			<h2>Treevia</h2>
			<p>Trivia game web application using Azure</p>
		</a>
	</li>
	<li class="project">
		<a href="projects/ChatApp.html"> <!-- Replace with the actual project link -->
			<h2>ChatApp</h2>
			<p>Peer-to-Peer messaging application built using a MVC design pattern. </p>
		</a>
	</li>
	<!-- Repeat the structure for each project -->
</ul>